<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="welcome.css">
  </head>
  <body>
	<div class="w-parent">
  <div class="w-main">
    <div class="w-content">
      <h1 class="w-heading">Empowering Healthcare:  <br/>
      Manage Your Patients with Precision </h1>
      <P class="w-para">A platform designed to provide information about <br/> health parameters and nearby pharmacies.</p>
    </div>
    <%= image_tag("welcome.png" , class:'w-img') %>

  </div>
  <div class="w-bottom"></div>
  </div>

  </body>
</html>
